* {
  margin: 0;
  padding: 0;
}

.projects-section {
  background-color: rgb(235, 235, 181);
  font-family: monospace;
  height: 100%;
}

.fav-fonts,
.house-hero,
.tutor-me,
.When-RU-Free,
.luna,
.device-loaner,
.zodaily,
.katiuska {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  align-items: center;
  padding-top: 15rem;
}

.mobile {
  height: 300px;
  width: 150px;
  position: absolute;
  left: 45%;
  margin-top: 7rem;
  box-shadow: 0.5rem 0.5rem black;
}

.laptop {
  height: 400px;
  width: 600px;
  box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
}

.caption {
  width: 50%;
  margin-left: 2rem;
}

.caption h3 {
  font-size: 2rem;
  color: rgb(6, 56, 6);
  font-weight: bold;
  margin-left: 2rem;
}

.caption p {
  font-size: 1.25rem;
  color: rgb(6, 56, 6);
  font-weight: bold;
  margin-top: 1.5rem;
  margin-left: 2rem;
}
.caption ul {
  list-style: none;
  margin-left: 2rem;
}

.caption li {
  display: inline-block;
  margin-right: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 3rem;
  font-size: 1rem;
}

.html {
  background-color: orange;
}

.css {
  background-color: blue;
  color: white;
}

.js {
  background-color: yellow;
}

.solo {
  background-color: green;
  color: white;
  font-weight: bold;
}

.group {
  background-color: blue;
  color: white;
  font-weight: bold;
}

.bs {
  background-color: purple;
  color: white;
}

.react {
  background-color: black;
  color: white;
}
.caption a {
  background-color: white;
  text-decoration: none;
  font-size: 1rem;
  margin-right: 1rem;
  padding: 0.75rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  color: rgb(6, 56, 6);
  font-weight: bold;
  margin-left: 2rem;
}

hr {
  width: 80%;
  border-top: 3px solid rgb(6, 56, 6);
  margin-right: auto;
  margin-left: auto;
  margin-top: 12rem;
}

.device-loaner p {
  margin-left: 1.5rem;
}

@media only screen and (max-width:1440px) {
  .caption a {
   padding: .75rem;
   margin-left: 0rem;
   font-size: .75rem
  }

  .mobile {
    left: 53%;
  }
}
@media only screen and (max-width: 1280px) {
  .mobile {
    height: 250px;
    width: 125px;
    position: absolute;
    left: 45%;
    margin-top: 4rem;
    box-shadow: 0.5rem 0.5rem black;
  }

  .laptop {
    height: 300px;
    width: 500px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
  }

  .fav-fonts,
  .house-hero,
  .tutor-me,
  .When-RU-Free,
  .luna,
  .device-loaner,
  .zodaily,
.katiuska {
    width: 75%;
  }
}

@media only screen and (max-width: 1024px) {
  .mobile {
    height: 200px;
    width: 100px;
    position: absolute;
    left: 65%;
    margin-top: 4rem;
    box-shadow: 0.5rem 0.5rem black;
  }

  .laptop {
    height: 250px;
    width: 375px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
  }

  .fav-fonts,
  .house-hero,
  .tutor-me,
  .When-RU-Free,
  .luna,
  .device-loaner,
  .zodaily,
.katiuska {
    width: 85%;
    padding-top: 10rem;
    display: flex;
    flex-direction: column;
  }

  .caption {
    width: 100%;
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .caption h3 {
    font-size: 1.75rem;
    color: rgb(6, 56, 6);
    font-weight: bold;
    margin-left: 1rem;
  }

  .caption p {
    font-size: 1rem;
    color: rgb(6, 56, 6);
    font-weight: bold;
    margin-top: 1.5rem;
    margin-left: 1rem;
  }

  .caption li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 0.8rem;
  }

  .caption ul {
    list-style: none;
    margin-left: 1rem;
  }

  .caption a {
    background-color: white;
    text-decoration: none;
    font-size: 1rem;
    margin-right: 1rem;
    padding: 0.5rem;
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
    color: rgb(6, 56, 6);
    font-weight: bold;
    margin-left: 1rem;
    margin-top: 5rem;
  }
}

@media only screen and (max-width: 375px) {
  .fav-fonts,
  .house-hero,
  .tutor-me,
  .When-RU-Free,
  .luna,
  .device-loaner, .zodaily,
  .katiuska {
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    align-items: center;
    padding-top: 5rem;
  }

  .caption {
    width: 100%;
    margin-left: 1rem;
    margin-top: 2rem;
  }

  .mobile {
    height: 150px;
    width: 75px;
    position: absolute;
    left: 75%;
    margin-top: 1rem;
    box-shadow: 0.5rem 0.5rem black;
  }

  .laptop {
    height: 150px;
    width: 300px;
    box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem #ccc;
  }

  .caption li {
    margin-bottom: 1.5rem;
  }

  hr {
    margin-top: 5rem;
  }
}
